*{
    padding: 0;
    margin: 0 auto;
    scroll-behavior: smooth;

}
#stone1{
    width: 20%;
    box-shadow: 0px 0px 0px;
    opacity: 0.2;
    position: absolute;
    bottom: 30px;
    right: 50px;
}
#stone2{
    width: 25%;
    box-shadow: 0px 0px 0px;
    opacity: 0.2;
    position: absolute;
    top: 0;
    right: 10px;
}
#stone3{
    width: 25%;
    box-shadow: 0px 0px 0px;
    opacity: 0.2;
    position: absolute;
    bottom: 25px;
    left: 180px;
}
#stone4{
    width: 25%;
    box-shadow: 0px 0px 0px;
    opacity: 0.2;
    position: absolute;
    top: 0;
    left: 20px;
}

#stone5{
    width: 25%;
    box-shadow: 0px 0px 0px;
    opacity: 0.2;
    position: absolute;
    top: 200px;
    left: 10px;
}

#stone6{
    width: 25%;
    box-shadow: 0px 0px 0px;
    opacity: 0.2;
    position: absolute;
    bottom: 50px;
    right: 190px;
}

h1, h3, h2{
    color:white;
    background-color: #D438AC;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    width: 500px;
    box-shadow: 0px 6px 6px rgba(0, 0, 0, 1);
}

#birthstone{
    background-color: #A8208D;
}
#stone1div{
    align-items: left;
    text-align: left;
    display: flex;
    margin: 40px;
    padding: 10px;
}

img{
    width: 400px;

    padding: 10px;
    box-shadow: 0px 6px 6px rgba(0, 0, 0,1);
}

#personality{
    background-color: #FBFBCA;
    font-family: serif;
    font-size: 20px;    
    color: black;
    line-height: 30px;
    height: auto;
    text-align: justify;
    padding: 20px;
    border-radius: 10px;
    box-shadow: black;
    box-shadow: 0px 6px 6px rgba(0, 0, 0,1);
}
